@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #000000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 80px;
    height: 70px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.banner {
    background-image: url("../assets/imgs/Banner-BB.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

    display: flex;
    align-items: center;
    padding: 0 80px;
}

.div-banner {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    gap: 20px;
}

.div-banner p {
    font-size: 1.5em;
}

.div-banner h2 {
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 100px;
}

.filtro, .pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

button {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

button, input, select {
    height: 30px;
    width: 250px;

    background-color: #000000;
    border-radius: 7px;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
}

.filmes-series {
    padding: 50px;
}

.filmes-series h2 {
    font-size: 1.5em;
}

.card-container {
    width: 100%;
    height: auto;
    margin-top: 10px;

    display: flex;
    gap: 20px;
}

.card {
    height: 180px;
    width: 120px;

    background-image: url("../assets/imgs/eassimqueacaba.webp");
    background-size: cover;
    margin-right: 10px;
    border-radius: 7px;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

footer p {
    color: #000000;
    margin-bottom: 10px;
}

.imgs {
    display: flex;
}

img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}